.status {
    display: inline-block;
    margin-left: 10px;
}

.status-tag {
    display: inline-block;
    padding: 5px 10px;
    border-radius: 20px;
    font-size: 12px;
    font-weight: bold;
    color: #fff;
}

#in-progress {
    background-color: #28a745; /* 녹색 */
}

#completed {
    background-color: #6c757d; /* 회색 */
}
