html, body {
  height: 100%;
  margin: 0;
  background-color: black;
}

.total-container {
  background-color: gray;
  height: 100%; /* 화면 전체를 덮도록 설정 */
  display: flex;
  flex-direction: column; /* 컨테이너가 화면 높이를 채우도록 설정 */
}

.app-container {
  box-sizing: border-box;
  width: 600px;
  height: 100vh; /* 화면 전체를 덮도록 설정 */
  margin: 0 auto;
  background-color: beige;
  padding-bottom: 20px; /* 여유 공간을 주어 버튼이 잘리지 않도록 설정 */
  flex: 1; /* 컨테이너가 남은 공간을 채우도록 설정 */
}
